<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABK0YWMRAcX5ylXnbsV_cBoHljizMc-Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>504706819116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTrainingBasic</string>
	<key>PROJECT_ID</key>
	<string>flutter-training-1950e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-training-1950e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504706819116:ios:94054fcf56f67ae24e1d89</string>
</dict>
</plist>